In [1]:
from math import log
import pandas as pd

In [2]:
docs = [
    ['犬','可愛い','犬','大きい'],
    ['猫','小さい','猫','可愛い','可愛い'],
    ['虫','小さい','可愛くない']
]

words = list(set(w for doc in docs for w in doc ))
words.sort()
words

['可愛い', '可愛くない', '大きい', '小さい', '犬', '猫', '虫']

In [5]:
N = len(docs)

def tf(t,d):
    return d.count(t)/len(d)

def idf(t):
    df = 0 
    for doc in docs:
        df += t in doc
    
    return log(N/df)+1 

def tfidf(t,d):
    return tf(t,d)* idf(t)

In [12]:
result = []
for i in range(N):
    result.append([])
    d = docs[i]
    for j in range(len(words)):
        t = words[j]
        
        result[-1].append(tf(t,d))
    
tf_ = pd.DataFrame(result, columns=words)
tf_

    可愛い     可愛くない   大きい       小さい    犬    猫         虫
0  0.25  0.000000  0.25  0.000000  0.5  0.0  0.000000
1  0.40  0.000000  0.00  0.200000  0.0  0.4  0.000000
2  0.00  0.333333  0.00  0.333333  0.0  0.0  0.333333

In [7]:
result = []

for j in range(len(words)):
    t = words[j]
    result.append(idf(t))
    
idf_ = pd.DataFrame(result, index=words, columns=['IDF'])
idf_

            IDF
可愛い    1.405465
可愛くない  2.098612
大きい    2.098612
小さい    1.405465
犬      2.098612
猫      2.098612
虫      2.098612

In [8]:
result = []
for i in range(N):
    result.append([])
    d = docs[i]
    for j in range(len(words)):
        t = words[j]
        
        result[-1].append(tfidf(t,d))

tfidf_ = pd.DataFrame(result,columns=words)
tfidf_

        可愛い     可愛くない       大きい       小さい         犬         猫         虫
0  0.351366  0.000000  0.524653  0.000000  1.049306  0.000000  0.000000
1  0.562186  0.000000  0.000000  0.281093  0.000000  0.839445  0.000000
2  0.000000  0.699537  0.000000  0.468488  0.000000  0.000000  0.699537